<h1> Your Dashboard </h1>

<form id="blogpost">
 <fieldset>
  <legend>Create New Post</legend>
  <br>
  <label for="title">Title</label>
  <br>
  <input type="text" id="title">
  <br>
  <br>
  <label for="content">Content</label>
  <br>
  <input type="text" id="content" >
  <br>
  <br>
  <input id="blogsubmit" type="submit" value="Submit">
 </fieldset>
</form>

<script src="/js/blogpost.js"></script>