<form method="POST" id="blogpost">
 <fieldset>
  <legend>Create New Post</legend>
  <br>
  <label for="title">Title</label>
  <br>
  <input type="text" name="title">
  <br>
  
  <br>
  <label for="content">Content</label>
  <br>
  <input type="text" name="content">
  <br>
  <br>
  <input id="blogsubmit" type="submit">
 </fieldset>
</form>

<script src="/js/newpost.js"></script>

